.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrapper {
  display: grid
}



.perceiving-cell {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index:1;
}

.sensing-cell {
  grid-column: 2;
  grid-row: 1;
  z-index:1;
}

.se {
  grid-column: 3;
  grid-row: 1;
}
.si {
  grid-column: 4;
  grid-row: 1;
}

.intuition-cell {
  grid-column: 2;
  grid-row: 2;
}

.ne {
  grid-column: 3;
  grid-row: 2;
}
.ni {
  grid-column: 4;
  grid-row: 2;
}


.thinking-cell {
  grid-column: 2;
  grid-row: 3;
  z-index: 1;
}

.te {
  grid-column: 3;
  grid-row: 3/4;
  z-index: 1;
}

.ti {
  grid-column: 4;
  grid-row: 3/4;
  z-index: 1;
}

.feeling-cell {
  grid-column: 2;
  grid-row: 4;
}

.fe {
  grid-column: 3;
  grid-row: 4;
  z-index: 1;
}

.fi {
  grid-column: 4;
  grid-row: 4;
  z-index: 1;
}


.extraversion-cell {
  grid-row: 5;
  grid-column: 3;
}
.introversion-cell {
  grid-row: 5;
  grid-column: 4;
}
