.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrapper {
  display: grid
}

.hoverme {
  z-index: 3;
  background-color: red;
}


.perceiving {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.perceiving-cell {
  grid-column: 1;
  grid-row: 1;
}

.sensing-row {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 1;
  z-index: 0
}

.sensing-cell {
  grid-column: 2;
  grid-row: 1;
  z-index:1;
}

.se {
  grid-column: 3;
  grid-row: 1/4;
  z-index: 1;
}
.si {
  grid-column: 4;
  grid-row: 1/4;
}

.intuition-row {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 2;
  z-index: 0
}

.intuition-row:hover {
  background-color: red;
  z-index: 2;
}

.intuition-cell {
  grid-column: 2;
  grid-row: 2;
  z-index: 1;
}

.ne {
  grid-column: 3;
  grid-row: 2/4;
  z-index: 1;
}
.ni {
  grid-column: 4;
  grid-row: 2/4;
  z-index: 1;
}


.thinking-cell {
  grid-column: 2;
  grid-row: 3;
  z-index: 1;
}

.te {
  grid-column: 3;
  grid-row: 3/4;
  z-index: 1;
}

.ti {
  grid-column: 4;
  grid-row: 3/4;
  z-index: 1;
}
